.cat_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 500px;
  background-color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  position: relative;
}
.cat_title {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.cat_chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 10px 0px;
}
.cat_chat img {
  width: 40px;
  height: 40px;
  border-radius: 18px;
  margin-right: 15px;
}
.cat_chat_1,
.cat_chat_2,
.cat_chat_3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.cat_chat_time_1,
.cat_chat_time_2,
.cat_chat_time_3 {
  background-color: rgb(255, 85, 119);
  color: white;
  margin-bottom: 10px;
  width: 40%;
  text-align: center;
  border-radius: 30px;
  height: 20px;
}
.cat_chat_1_des,
.cat_chat_2_des,
.cat_chat_3_des {
  display: flex;
  width: 70%;
  height: 40px;
  align-items: center;
}
.cat_chat_1_des div,
.cat_chat_2_des div,
.cat_chat_3_des div {
  width: 40%;
  height: 20px;
  background-color: rgb(255, 185, 199);
  color: black;
  background-origin: padding-box;
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
}
.cat_chat_2_des div {
  width: 60%;
}

.cat_chat_3_des div {
  width: 74%;
}

.cat_chat_1_des span,
.cat_chat_2_des span,
.cat_chat_3_des span {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.3);
}

.cat_input {
  position: absolute;
  bottom: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  width: 94%;
}

.cat_input input:first-child {
  width: 250px;
}

.cat_input input:last-child {
  background-color: white;
  color: red;
  outline: none;
  border: 0.1px solid;
}

.cat_input input:last-child:focus {
  background-color: red;
  color: white;
}
