.chat_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 500px;
  background-color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  position: relative;
}

.chat_title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
.chat_list,
.chat_list_1,
.chat_list_2,
.chat_list_3 {
  display: flex;

  justify-content: flex-start;
  margin-top: 10px;
}
.chat_list {
  width: 100%;
  flex-direction: column;
}
.chat_list_1,
.chat_list_2,
.chat_list_3 {
  padding-bottom: 5px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.08);
}

.chat_list_1:hover,
.chat_list_2:hover,
.chat_list_3:hover {
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.77);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.77);
  border-radius: 30px;
}
.chat_list_1 img,
.chat_list_2 img,
.chat_list_3 img {
  width: 40px;
  height: 40px;
  border-radius: 17px;
  margin-right: 15px;
}
.chat_list_des {
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
}
.chat_list_des span:first-child {
  font-weight: 800;
}

.chat_list_des span:nth-child(2) {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.8);
  margin-top: 3px;
}
.chat_list_time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  position: relative;
}

.chat_list_time > i {
  position: relative;
  color: red;
  font-size: 20px;
}

.chat_list_time i > span {
  position: absolute;
  left: 6px;
  top: 2px;
  color: white;
  font-size: 13px;
}
.chat_list_time > span {
  position: absolute;
  right: 0px;
}
