@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
@import "login.css";
@import "main.css";
@import "chat.css";
@import "cat.css";
@import "honey.css";
@import "nomad.css";
* {
  box-sizing: border-box;
  font-family: "Noto Sans HK", sans-serif;
}
span {
  font-family: "Noto Sans HK", sans-serif;
}
body {
  padding: 30px;
}
@keyframes battery {
  0% {
    color: yellowgreen;
  }
  50% {
    color: yellowgreen;
  }
}
.fa-bolt {
  animation: battery 2s linear infinite;
}
