.login_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 500px;
  background-color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
}
.header > i:first-child {
  color: red;
  position: absolute;
  left: 0px;
}

.header > span:nth-child(2) {
  position: absolute;
  left: 17px;
}

.login_logo,
.login_enter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_logo {
  height: 250px;
  justify-content: center;
}

.login_logo i {
  font-size: 100px;
  color: red;
  margin-bottom: 10px;
}
.login_enter > input {
  height: 40px;
  justify-content: space-between;
  width: 150px;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.3);
}
.login_btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 150px;
}
.login_btn button {
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.login_btn a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  cursor: not-allowed;
}
