.main_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 500px;
  background-color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  position: relative;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
}
.header > i:first-child {
  color: red;
  position: absolute;
  left: 0px;
}

.header > span:nth-child(2) {
  position: absolute;
  left: 22px;
}

.main_title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.main_mypro,
.main_list,
.main_list_1,
.main_list_2,
.main_list_3,
.main_list_4 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
  align-items: center;
}

.main_list {
  flex-direction: column;
}
.main_mypro_des,
.main_list_des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.main_mypro img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 15px;
}

.main_ad {
  background-color: rgba(128, 128, 128, 0.15);
  margin-top: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.main_ad a {
  margin: 0px 8px;
}
.main_ad i {
  color: red;
}
.main_list_1,
.main_list_2,
.main_list_3,
.main_list_4 {
  padding-bottom: 5px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.08);
  transition: all 0.1s linear;
}
.main_list_1:hover,
.main_list_2:hover,
.main_list_3:hover,
.main_list_4:hover {
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.77);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.77);
  border-radius: 30px;
}
.main_list_1 img,
.main_list_2 img,
.main_list_3 img,
.main_list_4 img {
  width: 40px;
  height: 40px;
  border-radius: 17px;
  margin-right: 15px;
}

.main_nav {
  width: 325px;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  border-top: 1.5px solid rgba(0, 0, 0, 0.08);
  height: 40px;
  justify-content: space-evenly;
}

.main_nav a {
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_nav a:nth-child(2) i {
  position: relative;
}
.main_nav a:nth-child(2) i i {
  color: red;
  position: absolute;
  bottom: 5px;
  left: 9px;
}
.main_mypro_des span:first-child,
.main_list_des span:first-child {
  font-weight: 800;
}

.main_mypro_des span:nth-child(2),
.main_list_des span:nth-child(2) {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.8);
  margin-top: 3px;
}
.fa-cat {
  color: black;
}
.fa-hand-paper {
  color: rgb(248, 223, 1);
}
